.orderbtndtp{
    background-color: red;
    border-radius: 50%;
    height:120px;
    width:120px;
    
}

div {
    border: 2px solid rgb(0, 255, 0);
}

.text {
    height:inherit;
    width:inherit;
}